:root {
  --hue: 223;
  --off-hue: 3;
  --on-hue1: 123;
  --on-hue2: 168;
  --fg: hsl(var(--hue), 10%, 90%);
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.6s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

body {
  background-color: #1b2223;
  color: #f4fefd;
}
.resume-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  align-items: center;
}
.aside-container {
  background-color: #3a4f50;
  padding: 5px;
  width: 300px;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.avatar {
  width: 300px;
}
.main-container .main-item {
  padding: 10px;
  border: solid 1px #3a4f50;
}
hr {
  border-color: #3a4f50;
}
main a {
  color: #f4fefd;
}
.contact-info-item a:hover,
a:hover {
  color: #5cd2c6;
}
.social-networks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-container {
  margin-right: 5px;
  width: 20px;
}
.contact-info-item,
.skills-item,
.icon-text-container {
  display: flex;
}
.contact-info-item a {
  color: #f4fefd;
}
.contact-info,
.skills-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-info {
  margin-bottom: 20px;
}
.skills {
  display: flex;
  gap: 20px;
}
.icons {
  display: flex;
}
.main-item-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
a {
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}
.main-item-terms,
.description {
  font-style: italic;
}

.pdf-resume-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding: 0 10px;
  align-items: normal;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.button {
  color: #f4fefd;
  background-color: #1b2223;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  color: #5cd2c6;
}

@media screen and (min-width: 600px) {
  .resume-container {
    flex-direction: row;
    padding: 0 10px;
    align-items: normal;
  }
}

@media screen and (min-width: 992px) {
  .resume-container {
    padding: 0 10%;
  }
}
